*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: sans-serif;
    outline: none;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.claculator{
    background-color: #e4e019;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffb108,
                      5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ecf0f3,
                       5px 5px 12px #ffb108a2;
     border: none;    
     border-radius: 30px;  
     color: #1b0b55;
     font-size: 50px;
     text-align: right;
     margin: auto; 
     margin-top: 40px;
     margin-bottom: 30px;
     padding: 20px;           
}
button{
    height: 48px;
    width: 48px;
    box-shadow: inset -5px -5px 12px #ffb108,
                       5px 5px 12px rgba(250, 194, 9, 0.404);
    border: none;
    border-radius: 50%;
    margin: 10px;    
    font-size: 16px;  
    font-weight: 500px;             
}
.equal{
    width: 120px;
    border-radius: 20px ;
}
h1{
    margin-top: 20pxpx;
    font-size: 50px;
    font-family: poppins;
    color: #1b0b55;
}